@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a:hover {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
  }
}

@layer utilities {
  .dark ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}
